/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/public/metronic/*
/public/assets/dist/*
/public/assets/plugins/*
/public/assets/media/*
!public/js/
!public/css/
/storage
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
config/secure.php
.env
.env.dev
.env.prod
composer.lock
/nbproject/private/
